body {
  background-color: aliceblue;
  display: flex;
  align-items: center;
}
#close {
  float: right;
  display: inline-block;
  padding: 2px 5px;
  background: #ccc;
}
#container {
  display: flex;
  justify-content: space-around;
  min-height: 100%;
  min-width: 100%;
}
.left-container {
  width: 45%;
  border-color: blueviolet;
  border-style: solid;
}
.right-container {
  width: 45%;
  border-color: red;
  border-style: solid;
}

.new-task {
  width: 33%;
}
#unfinished {
  background-color: white;
  border-color: black;
  border-style: solid;
  min-height: 50px;
  min-width: 400px;
  max-width: 95%;
}
.chore-card {
  width: 90%;
  border-color: blue;
  border-style: solid;
}
#finished {
  background-color: white;
  border-color: rgb(102, 255, 0);
  border-style: solid;
  min-height: 50px;
  min-width: 400px;
  max-width: 95%;
}
